body {
  margin: 0px 0px 1px 0px; /* the extra 1px allows the iOS inner/outer check to work */
  background: 'transparent';
  overflow-y: hidden;
}

.customSwalBtn {
  background-color: rgba(48, 133, 214, 1);
  border-left-color: rgba(48, 133, 214, 1);
  border-right-color: rgba(48, 133, 214, 1);
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  margin: 10px 5px 0px 5px;
  padding: 10px 32px;
  min-width: 85%;
}

.customSwalTextArea {
  display: block;
  width: 100%;
  margin: 20px auto;
  height: 108px;
  font-size: 14px;
  border-radius: 3px;
}

#turn {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  background-image: url('../assets/orientation.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
}
